extends layout

block content
  h1=title

  form(method='POST' action='')
   
    div.form-group
      label(for='season') Season:
      input#season.form-control(type='text' placeholder='i.e. 2002-2003' name='season' pattern='\\d{4}-\\d{4}' title='Please enter a season in the format YYYY-YYYY' required='true' value=(undefined===kit ? '' : kit.season))
    div.form-group
      label(for='team') Team:
      select#team.form-control(type='select' placeholder='Select Team' name='team' required='true')
        - team_list.sort(function(a, b) {let textA = a.name.toUpperCase(); let textB = b.name.toUpperCase(); return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;});
        for team in team_list
          if kit 
            option(value=team._id, selected=(selected_team==kit._id.toString() ? 'selected' : false) ) #{team.name}
          else
            option(value=team._id) #{team.name}
            div.form-group
    
    button.btn.btn-primary(type='submit') Submit

  if errors
    ul
      for error in errors
        li!= error.msg