extends layout

block content
  h1 #{title}: #{team.name}
  

  if team_kits.length

    p #[strong Delete the following kits before attempting to delete this team.]

    div(style='margin-left:20px;margin-top:20px')

      h4 Kits

      dl
      each kit in team_kits
        dt
          a(href=kit.url) #{kit.team.name}
        dd Season: #{kit.season} 

  else
    p Do you really want to delete this Team?

    form(method='POST' action='')
      div.form-group
        input#teamid.form-control(type='hidden',name='teamid', required='true', value=team._id )

      button.btn.btn-primary(type='submit') Delete
